<!-- Page Header-->
<header class="shadow-sm px-4 py-3 z-index-20">
  <div class="container-fluid row px-0">
    <div class="col-sm-6 text-start">
      <h2>User List</h2>
    </div>
    <div class="col-sm-6 text-end">
      <button mat-raised-button color="warn" (click)="onAddUser()">{{LABEL.ADD_USER_TITLE}}</button>
    </div>
  </div>
</header>
<mat-card class="m-4">
  <mat-card-content>
    <mat-form-field class="table-search">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filterData($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <section class="table-container mat-elevation-z8">
      <table matSort mat-table [dataSource]="dataSource" aria-describedby="">
        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </th>
            @if(column.header === LABEL.ACTION){
              <td mat-cell *matCellDef="let ele">
                <div fxLayout="fill">
                  <button mat-icon-button color="primary" (click)="onEditUser(ele.id)"><mat-icon>edit</mat-icon></button>
                  @if(ele.userStatus === 'Active') {
                    <button mat-icon-button color="warn" (click)="openDialog(ele.id)"><mat-icon>toggle_on</mat-icon></button>
                  }
                  @else{
                    <button mat-icon-button color="accent" (click)="openDialog(ele.id)"><mat-icon>toggle_off</mat-icon></button>
                  }
                </div>
              </td>
            }
            @else {
              <td mat-cell *matCellDef="let row"
                [ngClass]="column.header===LABEL.USER_STATUS ? column.cell(row)=='Active' ? 'text-success' : 'text-danger' : ''">
                {{column.cell(row)}}
              </td>
            }
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </section>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="LABEL.PAGE_SIZE_OPTION" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>

