<h1 mat-dialog-title>{{inputData.title}}</h1>
<div mat-dialog-content class="adduser-container">
  <form [formGroup]="userForm">
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.FIRST_NAME}}</mat-label>
        <input matInput titleCase formControlName="firstName">
        @if(isSubmitted && f['firstName'].errors){
          <mat-error *ngIf="f['firstName'].errors['required']">{{LABEL.FIRST_NAME}} {{VALIDATION.REQUIRED}}</mat-error>
          <mat-error *ngIf="f['firstName'].errors['minlength']">{{LABEL.FIRST_NAME}} {{VALIDATION.MIN_LENGTH_2}}</mat-error>
          <mat-error *ngIf="f['firstName'].errors['maxlength']">{{LABEL.FIRST_NAME}} {{VALIDATION.MAX_LENGTH_20}}</mat-error>
          <mat-error *ngIf="f['firstName'].errors['pattern']">{{LABEL.FIRST_NAME}} {{VALIDATION.NOT_ALLOWED_NUMBERS}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.LAST_NAME}}</mat-label>
        <input matInput titleCase formControlName="lastName">
        @if(isSubmitted && f['lastName'].errors){
          <mat-error *ngIf="f['lastName'].errors['required']">{{LABEL.LAST_NAME}} {{VALIDATION.REQUIRED}}</mat-error>
          <mat-error *ngIf="f['lastName'].errors['minlength']">{{LABEL.LAST_NAME}} {{VALIDATION.MIN_LENGTH_2}}</mat-error>
          <mat-error *ngIf="f['lastName'].errors['maxlength']">{{LABEL.LAST_NAME}} {{VALIDATION.MAX_LENGTH_20}}</mat-error>
          <mat-error *ngIf="f['lastName'].errors['pattern']">{{LABEL.LAST_NAME}} {{VALIDATION.NOT_ALLOWED_NUMBERS}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.GENDER}}</mat-label>
        <mat-select formControlName="gender">
          @for (gen of gender; track gen) {
            <mat-option [value]="gen">{{gen}}</mat-option>
          }
        </mat-select>
        @if(isSubmitted && f['gender'].errors){
          <mat-error *ngIf="f['gender'].errors['required']">{{LABEL.GENDER}} {{VALIDATION.REQUIRED}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.USER_NAME}}</mat-label>
        <input matInput formControlName="userName" [attr.disabled]="user ? true : null">
        @if(isSubmitted && f['userName'].errors){
          <mat-error *ngIf="f['userName'].errors['required']">{{LABEL.USER_NAME}} {{VALIDATION.REQUIRED}}</mat-error>
          <mat-error *ngIf="f['userName'].errors['minlength']">{{LABEL.USER_NAME}} {{VALIDATION.MIN_LENGTH_8}}</mat-error>
          <mat-error *ngIf="f['userName'].errors['maxlength']">{{LABEL.USER_NAME}} {{VALIDATION.MAX_LENGTH_20}}</mat-error>
          <mat-error *ngIf="f['userName'].errors['cannotContainSpace']">{{LABEL.USER_NAME}} {{VALIDATION.NOT_ALLOWED_SPACE}}</mat-error>
          <mat-error *ngIf="f['userName'].errors['userNameExists']">{{LABEL.USER_NAME}} {{VALIDATION.ALREADY_EXISTS}}</mat-error>
        }
      </mat-form-field>
      @if(!user){
        <mat-form-field class="col-md-4">
          <mat-label>{{LABEL.PASSWORD}}</mat-label>
          <input matInput type="password" formControlName="password">
          @if(isSubmitted && f['password'].errors){
            <mat-error *ngIf="f['password'].errors['required']">{{LABEL.PASSWORD}} {{VALIDATION.REQUIRED}}</mat-error>
            <mat-error *ngIf="f['password'].errors['minlength']">{{LABEL.PASSWORD}} {{VALIDATION.MIN_LENGTH_6}}</mat-error>
            <mat-error *ngIf="f['password'].errors['maxlength']">{{LABEL.PASSWORD}} {{VALIDATION.MAX_LENGTH_20}}</mat-error>
            <mat-error *ngIf="f['password'].errors['weekPassword']">{{LABEL.PASSWORD}} {{VALIDATION.VALID_PASSWORD}}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>{{LABEL.CONFIRM_PASSWORD}}</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          @if(isSubmitted && f['confirmPassword'].errors){
            <mat-error *ngIf="f['confirmPassword'].errors['required']">{{LABEL.CONFIRM_PASSWORD}} {{VALIDATION.REQUIRED}}</mat-error>
            <mat-error *ngIf="f['confirmPassword'].errors['matchPassword']">{{LABEL.CONFIRM_PASSWORD}} {{VALIDATION.PASSWORD_MISMATCH}}</mat-error>
          }
        </mat-form-field>
      }
    </div>
    <div class="row">
      <div class="col-md-4 usertype-matfield">
        <small>{{LABEL.USER_NOTIFICATION_TYPE}}</small><br/>
        <mat-radio-group formControlName="userNotificationType">
          @for (nt of notificationType; track nt) {
            <mat-radio-button [value]="nt">{{nt}}</mat-radio-button>
          }
        </mat-radio-group>
        @if(isSubmitted && f['userNotificationType'].errors){
          <mat-error *ngIf="f['userNotificationType'].errors['required']">{{LABEL.USER_NOTIFICATION_TYPE}} {{VALIDATION.REQUIRED}}</mat-error>
        }
      </div>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.EMAIL_ID}}</mat-label>
        <input matInput formControlName="emailId">
        @if(isSubmitted && (f['userNotificationType'].value == USER_NOTIFICATION_TYPE.Email || f['emailId'].value) && f['emailId'].errors){
          <mat-error *ngIf="f['emailId'].errors['required']">{{LABEL.EMAIL_ID}} {{VALIDATION.REQUIRED}}</mat-error>
          <mat-error *ngIf="f['emailId'].errors['email']">{{LABEL.EMAIL_ID}} {{VALIDATION.INVALID}}</mat-error>
          <mat-error *ngIf="f['emailId'].errors['emailIdExists']">{{LABEL.EMAIL_ID}} {{VALIDATION.ALREADY_EXISTS}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.MOBILE_NO}}</mat-label>
        <input matInput formControlName="mobileNo">
        @if(isSubmitted && (f['userNotificationType'].value == USER_NOTIFICATION_TYPE.Mobile || f['mobileNo'].value) && f['mobileNo'].errors){
          <mat-error *ngIf="f['mobileNo'].errors['required']">{{LABEL.MOBILE_NO}} {{VALIDATION.REQUIRED}}</mat-error>
          <mat-error *ngIf="f['mobileNo'].errors['pattern']">{{LABEL.MOBILE_NO}} {{VALIDATION.ALLOWED_ONLY_NUMBERS}}</mat-error>
          <mat-error *ngIf="f['mobileNo'].errors['minlength'] || f['mobileNo'].errors['maxlength']">{{LABEL.MOBILE_NO}} {{VALIDATION.FIX_LENGTH_10}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.ADDRESS_LINE1}}</mat-label>
        <input matInput formControlName="address1">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.ADDRESS_LINE2}}</mat-label>
        <input matInput formControlName="address2">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.COUNTRY}}</mat-label>
        <mat-select formControlName="country" (selectionChange)="onCountryChanged($event)">
          @for (country of countries; track country) {
            <mat-option [value]="country.isoCode">{{country.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.STATE}}</mat-label>
        <mat-select formControlName="state" (selectionChange)="onStateChanged($event)">
          @for (state of states; track state) {
            <mat-option [value]="state.isoCode">{{state.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.CITY}}</mat-label>
        <mat-select formControlName="city">
          @for (city of cities; track city) {
            <mat-option [value]="city.name">{{city.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>{{LABEL.ZIP_CODE}}</mat-label>
        <input matInput placeholder="ZipCode" formControlName="zipcode">
        @if(isSubmitted && f['zipcode'].errors){
          <mat-error *ngIf="f['zipcode'].errors['pattern']">{{LABEL.ZIP_CODE}} {{VALIDATION.ALLOWED_ONLY_NUMBERS}}</mat-error>
          <mat-error *ngIf="f['zipcode'].errors['minlength'] || f['zipcode'].errors['maxlength']">{{LABEL.ZIP_CODE}} {{VALIDATION.FIX_LENGTH_6}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      @if(!user){
        <mat-form-field class="col-md-4">
          <mat-label>{{LABEL.USER_STATUS}}</mat-label>
          <mat-select formControlName="userStatus">
            @for (status of userStatusArr; track status) {
              <mat-option [value]="status">{{status}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="onSubmit()" color="primary" class="col-md-2 mt-1">Submit</button>
  <button mat-raised-button (click)="closePopup()" type="button" color="accent" class="col-md-2 mt-1 ml-2">close</button>
</div>
